.character {
    display: inline-block;
    font-size: 4rem;
    text-shadow: 0 0 10px #fff;
    margin: 0;
    animation: reveal 2s ease;
}

.character.rotate {
    animation: reveal 2s ease, rotate 1.5s linear infinite;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}