.character {
    display: inline-block;
    transition: all 1.5s ease;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    margin: 0;
    animation: reveal 2s ease;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}